html {
    font-size: 62.5%;
    /* Reset REMS  - 62.5% = 10px de 16px*/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/* Global */

img {
    max-width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.2rem;
}


/* Utilidades */

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}

.contenido-centrado {
    max-width: 80rem;
}

.no-margin {
    margin: 0;
}


/* Separar en dos columnas con grid*/

.grid-dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.grid-cuatro-columnas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
}


/* Alinear al centro a lo alto*/

.alinear-centro {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Grid - Para asignar longitud de contenido */

@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .centrar-columnas {
        justify-content: center;
    }
    .columnas-4 {
        flex: 0 0 calc(33.3% - 1rem);
    }
    .columnas-6 {
        flex: 0 0 calc(50% - 1rem);
    }
    .columnas-8 {
        flex: 0 0 calc(66.6% - 1rem);
    }
    .columnas-10 {
        flex: 0 0 calc(83.3% - 1rem);
    }
    .columnas-12 {
        flex: 0 0 100%;
    }
}


/* Botones */

.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-amarillo {
    background-color: #E08709!important;
}

.boton-verde {
    background-color: #71B100!important;
}


/* Header */

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/ipnycigata.jpg);
    background-position: center center;
    background-size: cover;
    height: 60rem;
    min-height: 30rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .contenido-header {
        text-align: center;
    }
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}


/* Barra de inicio */

.barra {
    padding-top: 3rem;
}

.barra a {
    color: white;
    text-decoration: none;
    font-size: 4.4rem;
    display: block;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* Texto en el header*/

.texto-header {
    padding: 11rem 0;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .texto-header {
        margin-top: 18rem;
    }
}

.texto-header p {
    font-size: 2.8rem;
}


/* Propuesta para un menu de Navegación

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}

.navegacion a:hover {
    color: #71b100
}

.mobile-menu img {
    width: 5rem;
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
 */


/*
.navegacion {
    display: none;
}

@media (min-width: 768px) {
    .navegacion {
        display: block;
        text-align: center;
    }
}

.navegacion:target {
    display: block;
}

*/

/* TABBED */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgba(128, 36, 52, 1);
  }

/* Contacto */

.tipo-forma{

    padding: 2rem;
    text-align: center; 
    color: white;
}

.contacto {
    background-color: white;
    padding: 5rem;
    min-width: 40rem;
}

.contacto2 {
    background-color: white;
    padding: 3rem;
}

@media (min-width: 768px) {
    .contacto {
        margin-top: 1rem;
    }
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
  }
  
.forma{
    margin: 2rem 0;
}
.forma h3{
    color: white;
    font-size: 1.8rem;
    text-align: center;
    margin-top: -4rem;
    margin-bottom: 0;
}
/* Header del contacto */

.header-contacto {
    margin-bottom: 5rem;
}

.contacto p {
    font-size: 1.5rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

.contacto pre {
    font-size: 1.6rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

legend {
    font-size: 2rem;
    color: black;
}

label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

input:not([type="submit"]),
textarea,
select {
    padding: 1.6rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
}

.domicilio-calle-num {
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.inputFileLabel{
    border-style: solid;
    border-width: .1rem;
    text-align: center;
    border-color: black;
    transition: ease-in-out 1s ;
    font-size: 1.5rem;
}

.inputFileLabel:hover {
    cursor: pointer;
    background-color: rgb(99, 0, 21);
    color: white;
}


/*Vista personal de solicitud */
.ListaMiSolicitud{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    color: wheat;    
    border-style: solid;
    border-color: white;
    padding: 2rem 4rem;
}

.ListaMiSolicitud span{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.ListaMiSolicitud span, p{
    margin-top: 0;
    line-height: 1rem;
}

@media(min-width: 780px) {
    .ListaMiSolicitud {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .entrada-solicitud {
        flex-basis: 100%;
        text-align: center;
        text-transform: capitalize;
    }
}

/* Vista global de solicitudes */
.listaSolicitudes {
    display: inline-block;
    color: white;
    padding: .5rem 1 rem;
    text-decoration: none;
    text-transform: uppercase;
}

.listaSolicitudes{
    list-style: none;
    margin-top: 40px;
    padding: 0;
    text-align: center;
}
.listaSolicitudes p{
    font-size: 1.4rem;
    line-height: 1rem;
    color: wheat;
}

.listaSolicitudes span{
    font-weight: bold;
    color: white;
}
.listaSolicitudes li{
    text-decoration: none;
}

input[type="button"]{
    padding: 1rem;
}

@media (min-width: 768px) {
    .listaSolicitudes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;        
    }
}


.domicilio-calle-num-vista {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-column-gap: 2rem;
}