<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('elements/header') %>
</head>

<body>

    <header class="site-header inicio">
        <%- include('elements/banner') %>
    </header>

    <main class="contenedor seccion">
        <!-- MENU -->
        <%- include('elements/menu-global') %>
            <!-- FORMULARIO PERSONAL -->
            <div class="grid centrar-columnas forma">


    </main>
</body>

<footer>

</footer>

</html>