<div class="contenedor">
    <div class="barra">
        <a href="/">
            <p class="no-margin fw-600">IPN</span>
            </p>
        </a>
    </div>

    <div class="texto-header">
        <!-- Contenedor -->
        <h1 class="fw-600 centrar-texto">Solicitud de Admisión al Departamento del Posgrado de Física Educativa
        </h1>
        <p>Proceso de Ingreso al Semestre A-2021</p>
    </div>
</div>