<form method="POST" class="contacto columnas-10 " action="/master_data" onsubmit="validateForm(1)" id="formaDoc">
    <nav>
        <div class="nav nav-tabs tab" id="nav-tab" role="tablist">
        <button value="3" onclick="HideTab(this)"><a class="nav-item nav-link active" id="nav-datos-tab" data-toggle="tab" href="#nav-datos" role="tab" aria-controls="nav-datosD" aria-selected="true">Datos Generales</a></button>
        <button  value="4" onclick="HideTab(this)"><a class="nav-item nav-link" id="nav-informacion-tab" data-toggle="tab" href="#nav-informacion" role="tab" aria-controls="nav-informacionD" aria-selected="false">Datos Académicos</a></button>
        </div>
      </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active tabcontent2" id="nav-datosD" role="tabpanel" aria-labelledby="nav-datos-tab">
            <%- include ('personalD') %>
        </div>
        <div class="tab-pane fade tabcontent2" id="nav-informacionD" role="tabpanel" aria-labelledby="nav-informacion-tab" style="display: none;">
            <%- include ('academicoD')%>
        </div>
    </div>  

    <div class="grid-dos-columnas">
        <input type="button" value="Guardar" onclick="validarFormaDoctorado(this)"  class="boton boton-amarillo">    
        <input type="button" value="Enviar" onclick="validarFormaDoctorado(this)"  class="boton boton-verde">    
    </div>
    <div class="grid-dos-columnas">
        
    </div>

</form>