<form method="POST"  class="contacto columnas-10 " action="/doc_data" onsubmit="validateForm(2)" id="formaD" style="display: none;">
    <fieldset>
        <legend>Informacion General </legend>
        <div class="grid-dos-columnas">
            <label for="InstitucionD">Institución de tus estudios profesionales</label>
            <label for="pinstitucionD">País de la institución</label>
            <input type="text" name="InstitucionD" placeholder="Institución de Licenciatura" required>
            <input type="text" name="pinstitucionD" placeholder="País">
        </div>
      
        
        <div class="grid-dos-columnas">
            <label for="InstitucionD">Institución de tus estudios de posgrado</label>
            <label for="pinstitucionD">País de la institución</label>
            <input type="text" name="InstitucionD" placeholder="Institución de maestria" required>
            <input type="text" name="pinstitucionD" placeholder="País" required> 
        </div>

        <label for="Institucion">¿Estás titulado de tu ultimo grado de estudios?</label>

        <div class="alinear-centro">
            <label for="rsitituladoD">Sí</label>
            <input type="radio" name="titulado" value="si" id="rsitituladoD" required>
            <label for="rnotituladoD">No</label>
            <input type="radio" name="titulado" value="no" id="rnotituladoD" required>
        </div>


        <label for="xpPM">Experiencia Profesional:</label>
        <textarea name="xpPM"></textarea required>
            
        <label for="xpDM">Experiencia Docente:</label>
        <textarea name="xpDM"></textarea required>
        
        <label>¿Has asistido a los cursos propedéuticos de este Departamento anteriormente?</label>

        <div class="alinear-centro">
            <label for="rsipropD">Si</label>
            <input type="radio" name="propedeutico" value="si"  id="rsipropD" required>
            <label for="rnopropD">No</label>
            <input type="radio" name="propedeutico" value="no" id="rnopropD" required>
        </div> 
        <label for="aniospropD">¿En qué año(s)?</label>
        <input type="number" name="aniospropD" placeholder="Año(s) Propedeuticos" required>

        <label for="motivoD">Motivo por el cuál desea ingresar al Posgrado y a qué línea de investigación desea integrarse</label>
        <textarea id="motivoD"></textarea required>
            

    </fieldset>

    <fieldset>
        <legend>ANEXO</legend>
        <!--
        <label for="fechaAplicacionM">Fecha</label>
        <input type="date" id="fechaAplicacionaM">
        -->
        <div class="grid-dos-columnas">
            <label for="fotoD" class="inputFileLabel">Click para anexar Fotografía (PDF)</label>
            <label for="ineD" class="inputFileLabel">Click para anexar muestra escrita de investigacion (PDF)</label>
            <input type="file" style="display: none;" name="archivosubido" id="fotoD" accept="application/pdf" required>                                
            <input type="file" style="display: none;" name="archivosubido" id="ineD" accept="application/pdf" required>
        </div>
    </fieldset>

    <div class="grid-dos-columnas">
        <input type="submit" value="Guardar" class="boton boton-amarillo">
        <input type="submit" value="Finalizar" class="boton boton-verde"> 
    </div>
    
</form>