<form class="contacto columnas-10 " action="../src/js/valdiacionesForma.js" onsubmit="validateForm(2)" id="formaD" style="display: none;">
    <fieldset>
        <legend>Informacion General </legend>
        <div class="grid-dos-columnas">
            <label for="InstitucionM">Institución de tus estudios profesionales</label>
            <label for="pinstitucionM">País de la institución</label>
            <input type="text" id="InstitucionM" placeholder="Institución de Licenciatura">
            <input type="text" id="pinstitucionM" placeholder="País">
        </div>
      
        
        <div class="grid-dos-columnas">
            <label for="InstitucionM">Institución de tus estudios de posgrado</label>
            <label for="pinstitucionM">País de la institución</label>
            <input type="text" id="InstitucionM" placeholder="Institución de maestria">
            <input type="text" id="pinstitucionM" placeholder="País">
        </div>

        <label for="Institucion">¿Estás titulado de tu ultimo grado de estudios?</label>

        <div class="alinear-centro">
            <label for="rsitituladoM">Sí</label>
            <input type="radio" name="titulado" value="rsi" id="rsitituladoM">
            <label for="rnotituladoM">No</label>
            <input type="radio" name="titulado" value="rno" id="rnotituladoM">
        </div>


        <label for="xpPM">Experiencia Profesional:</label>
        <textarea id="xpPM"></textarea required>
            
        <label for="xpDM">Experiencia Docente:</label>
        <textarea id="xpDM"></textarea required>
        
        <label>¿Has asistido a los cursos propedéuticos de este Departamento anteriormente?</label>

        <div class="alinear-centro">
            <label for="rsipropM">Si</label>
            <input type="radio" name="propedeutico" value="rsi"  id="rsipropM">
            <label for="rnopropM">No</label>
            <input type="radio" name="propedeutico" value="rno" id="rnopropM">
        </div> 
        <label for="aniospropM">¿En qué año(s)?</label>
        <input type="number" id="aniospropM" placeholder="Año(s) Propedeuticos">

        <label for="motivoM">Motivo por el cuál desea ingresar al Posgrado y a qué línea de investigación desea integrarse</label>
        <textarea id="motivoM"></textarea>
            

    </fieldset>

    <fieldset>
        <legend>ANEXO</legend>
        <label for="fechaAplicacionM">Fecha</label>
        <input type="date" id="fechaAplicacionaM">
        
        <div class="grid-dos-columnas">
            <label for="foto" class="inputFileLabel">Click para anexar Fotografía (PDF)</label>
            <label for="ine" class="inputFileLabel">Click para anexar muestra escrita de investigacion (PDF)</label>
            <input type="file" style="display: none;" name="archivosubido" id="foto" accept="application/pdf">                                
            <input type="file" style="display: none;" name="archivosubido" id="ine" accept="application/pdf">
        </div>
    </fieldset>

    <div class="grid-dos-columnas">
        <input type="input" value="Guardar" class="boton boton-amarillo">
        <input type="submit" value="Finalizar" class="boton boton-verde"> 
    </div>
    
</form>