<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Solicitud CICATA</title>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
<!--
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/styles.css">
<script src="js/funciones.js"></script>
<script src="js/valdiacionesForma.js"></script>-->
<script src="../js/valdiacionesForma.js"></script>
<link rel="stylesheet" href="../css/normalize.css">
<link rel='stylesheet' href='../css/styles.css' />  