<form method="POST" class="contacto columnas-10 " action="/personal_data" onsubmit="validateForm(1)" id="formaMaster">

    <nav>
        <div class="nav nav-tabs tab" id="nav-tab" role="tablist">
        <button value="1" onclick="HideTab(this)"><a class="nav-item nav-link active" id="nav-datos-tab" data-toggle="tab" href="#nav-datos" role="tab" aria-controls="nav-datos" aria-selected="true">Datos Generales</a></button>
        <button  value="2" onclick="HideTab(this)"><a class="nav-item nav-link" id="nav-informacion-tab" data-toggle="tab" href="#nav-informacion" role="tab" aria-controls="nav-informacion" aria-selected="false">Datos Académicos</a></button>
        </div>
      </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active tabcontent2" id="nav-datos" role="tabpanel" aria-labelledby="nav-datos-tab">
            <%- include ('personalM') %>
        </div>
        <div class="tab-pane fade tabcontent2" id="nav-informacion" role="tabpanel" aria-labelledby="nav-informacion-tab" style="display: none;">
            <%- include ('academicoM')%>
        </div>
    </div>        
    <div class="grid-dos-columnas">
        <input type="button" value="Guardar"  onclick="validarFormaMaestria(this)" class="boton boton-amarillo">
    </div>   
    <div class="grid-dos-columnas">
        <input type="button" value="Enviar"  onclick="validarFormaMaestria(this)" class="boton boton-amarillo">
    </div>   
    <legend>*datos obligatorios</legend>
</form> 

