<form method="POST" class="contacto columnas-10" action="/master_data" onsubmit="validateForm(1)" id="formaM" style="display: none;">
    <fieldset>
        <legend>DATOS ACADÉMICOS</legend>
        <div class="grid-dos-columnas">
            <label for="InstitucionM">Institución de tus estudios profesionales</label>
            <label for="pinstitucionM">País la institución</label>
            <input type="text" name="InstitucionM" placeholder="Institución" required>
            <input type="text" name="pinstitucionM" placeholder="País" required>
        </div>
        <div class=""  id="formaMaestria1">
            <label for="titulacionMaestriaM">¿Estás titulado?</label>
            <div class="alinear-centro"  id="titulacionMaestria">
                
                <label for="rsitituladoM">Sí</label>                
                <input type="radio" name="tituladoMaestriaM" value="si" id="rsitituladoM" required>                
                <label for="rnotituladoM">No</label>
                <input type="radio" name="tituladoMaestriaM" value="no" id="rnotituladoM" required>
            </div>

            <div class="grid-dos-columnas">
                <label for="carreraM">¿En qué carrera?</label>
                <input type="text" name="carreraM" placeholder="Carrera" required>
            </div>                            
        </div>

        
        

        <label for="xpPM">Experiencia Profesional:</label>
        <textarea name="xpPM"></textarea required>
            
        <label for="xpDM">Experiencia Docente:</label>
        <textarea name="xpDM"></textarea required>
        
        <label>¿Has asistido a los cursos propedéuticos de este Departamento?</label>

        <div class="alinear-centro">
            <label for="rsiprop">Si</label>
            <input type="radio" name="propedeuticoM" value="si"  id="rsiprop" required>
            <label for="rnoprop">No</label>
            <input type="radio" name="propedeuticoM" value="no" id="rnoprop" required>
        </div> 
        <label for="aniospropM">¿En qué año(s)?</label>
        <input type="text" name="aniospropM" placeholder="Año(s) Propedeuticos">

        <label for="motivoM">Motivo por el cuál desea ingresar al Posgrado y a qué línea de investigación desea integrarse</label>
        <textarea name="motivoM"></textarea>
            

    </fieldset>

    <fieldset>
        <legend>ANEXO</legend>
        <!--
        <label for="fechaAplicacionM">Fecha</label>
        <input type="date" id="fechaAplicacionaM">
        -->
        
        <div class="grid-dos-columnas" id="archivosMaestria">
            <label for="archivosubido1M" class="inputFileLabel">Click para anexar CV con Fotografía (PDF)</label>
            <input type="file" style="display: none;" name="archivosubido1M" id="archivosubido1M" accept="application/pdf" required>                                    
        </div>
    </fieldset>

    <div class="grid-dos-columnas">
        <input type="submit" value="Guardar" class="boton boton-amarillo">
        <input type="submit" value="Finalizar" class="boton boton-verde"> 
    </div>
    
</form>