<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="changeTab(event, 'tabLlenarSolicitud')">Llenar solicitud</button>
    <button class="tablinks" onclick="changeTab(event, 'tabVerMiSolicitud')">Ver mi solicitud</button>
    <button class="tablinks" onclick="changeTab(event, 'tabVerSolicitues')">Ver solicitudes (Coord)</button>
</div>
  
<!-- Tab content -->
<div id="tabLlenarSolicitud" class="tabcontent">
  <!-- FORMULARIO PERSONAL -->
  <div class="grid centrar-columnas forma">
    <%- include('tipoForma') %> 
  </div>   
</div>

<div id="tabVerMiSolicitud" class="tabcontent">
  <div class="grid centrar-columnas forma">
    <div class="forma">
      <%- include('vistaMiSolicitud') %> 
    </div> 
  </div> 
</div>


<div id="tabVerSolicitues" class="tabcontent">
  <div class="forma">
    <%- include('vistaCoordinador') %> 
  </div> 
</div>