

        <!-- MENU -->
        <div class="tipo-forma contenedor">
            <label for="tipoForma"></label>
            <select id="tipoForma" onchange="cambiarForma(this)">
            <option value="0">Seleccione forma</option>
            <option value="1">Maestría</option>
            <option value="2">Doctorado</option>
            </select>
        </div>
        