<fieldset>
    <legend>Informacion General </legend>
    <div class="" id="newformaDoctorado1">
        <div class="grid-dos-columnas">
            <label for="newInputInstitucionD">Institución de tus estudios de la maestria</label>
            <label for="newInputpinstitucionD">País de la institución</label>
            <input type="text" name="InstitucionD" id="newInputInstitucionD" placeholder="Institución de maestría" required>
            <input type="text" name="pinstitucionD" id="newInputpinstitucionD"  placeholder="País">
        </div>
    
        
        <div class="grid-dos-columnas">
            <label for="newInputInstitucionPosgradoD">Institución de tus estudios de posgrado</label>
            <label for="newInputpInstitucionPosgradoD">País de la institución</label>
            <input type="text" name="InstitucionPosgradoD" id="newInputInstitucionPosgradoD"  placeholder="Institución de posgrado" required>
            <input type="text" name="pInstitucionPosgradoD" id="newInputpInstitucionPosgradoD" placeholder="País" required> 
        </div>

        <label for="newtituladoDoctorado">¿Estás titulado de tu ultimo grado de estudios?</label>

        <div class="alinear-centro">
            <label for="newInputrsitituladoD">Sí</label>
            <input type="radio" name="tituladoDoctoradoD" value="si" id="newInputrsitituladoD" required>
            <label for="newInputrnotituladoD">No</label>
            <input type="radio" name="tituladoDoctoradoD" value="no" id="newInputrnotituladoD" required>
        </div>
    </div>

    <label for="newInputxpPD">Experiencia Profesional:</label>
    <textarea name="xpPD" id="newInputxpPD"></textarea required>
        
    <label for="newInputxpDD">Experiencia Docente:</label>
    <textarea name="xpDD" id="newInputxpDD"></textarea required>
    
    <label>¿Has asistido a los cursos propedéuticos de este Departamento anteriormente?</label>

    <div class="alinear-centro">
        <label for="newInputrsipropD">Si</label>
        <input type="radio" name="propedeuticoD" value="si"  id="newInputrsipropD" required>
        <label for="newInputrnopropD">No</label>
        <input type="radio" name="propedeuticoD" value="no" id="newInputrnopropD" required>
    </div> 
    <label for="newInputaniospropD">¿En qué año(s)?</label>
    <input type="text" name="aniospropD" id= "InputaniospropD"placeholder="Año(s) Propedeuticos" required>

    <label for="newInputmotivoD">Motivo por el cuál desea ingresar al Posgrado y a qué línea de investigación desea integrarse</label>
    <textarea name="motivoD" id="newInputmotivoD"></textarea required>
        

</fieldset>

<fieldset>
    <legend>ANEXO</legend>
    <!--
    <label for="newfechaAplicacionM">Fecha</label>
    <input type="date" id="newfechaAplicacionaM">
    -->
    <div class="grid-dos-columnas" id="newarchivosDoctorado">
        <label for="newInputarchivosubido1D" class="inputFileLabel">Click para anexar CV con Fotografía (PDF)</label>
        <label for="newInputarchivosubido2D" class="inputFileLabel">Muestra escrita de trabajo de investigación previo (capítulo de tesis, artículo de investigación, ponencia en extenso de congreso, etc.). (PDF)</label>
        <input type="file" style="display: none;"  name="archivosubido1D" id="newInputarchivosubido1D" accept="application/pdf" required>                                
        <input type="file" style="display: none;"  name="archivosubido2D" id="newInputarchivosubido2D" accept="application/pdf" required>
    </div>
</fieldset>