<fieldset>
    <legend>DATOS ACADÉMICOS</legend>
    <div class="grid-dos-columnas">
        <label for="newInputInstitucionM">Institución de tus estudios profesionales</label>
        <label for="newpInputinstitucionM">País la institución</label>
        <input type="text" name="InstitucionM"  id="newInputInstitucionM" placeholder="Institución"  >
        <input type="text" name="pinstitucionM" id="newpInputInstitucionM" placeholder="País"  >
    </div>
    <div class=""  id="newformaMaestria1">
        <label for="newInputtitulacionM">¿Estás titulado?</label>
        <div class="alinear-centro"  >
            
            <label for="newInputrsitituladoM">Sí</label>                
            <input type="radio" name="tituladoMaestriaM" value="si" id="newInputrsitituladoM"  >                
            <label for="newInputnrotituladoM">No</label>
            <input type="radio" name="tituladoMaestriaM" value="no" id="newInputnrotituladoM"  >
        </div>

        <div class="grid-dos-columnas">
            <label for="newInputcarreraM">¿En qué carrera?</label>
            <input type="text" name="carreraM" id="newInputcarreraM"  placeholder="Carrera"  >
        </div>                            
    </div>

    
    

    <label for="newInputxpPM">Experiencia Profesional:</label>
    <textarea name="xpPM" id="newInputxpPM" ></textarea  >
        
    <label for="newInputxpDM">Experiencia Docente:</label>
    <textarea name="xpDM" id="newInputxpDM"></textarea  >
    
    <label>¿Has asistido a los cursos propedéuticos de este Departamento?</label>

    <div class="alinear-centro">
        <label for="newInputrsipropM">Si</label>
        <input type="radio" name="propedeuticoM" value="si"  id="newInputrsipropM"  >
        <label for="newInputrnopropM">No</label>
        <input type="radio" name="propedeuticoM" value="no" id="newInputrnopropM"  >
    </div> 
    <label for="newInputaniospropM">¿En qué año(s)?</label>
    <input type="text" name="aniospropM" id="newInputaniospropM" placeholder="Año(s) Propedeuticos">

    <label for="newInputmotivoM">Motivo por el cuál desea ingresar al Posgrado y a qué línea de investigación desea integrarse</label>
    <textarea name="motivoM" id="newInputmotivoM"></textarea>
        

</fieldset>

<fieldset>
    <legend>ANEXO</legend>
    <!--
    <label for="newfechaAplicacionM">Fecha</label>
    <input type="date" id="newfechaAplicacionaM">
    -->
    
    <div class="" id="newarchivosMaestria">
        <label for="newInputarchivosubido1M" class="inputFileLabel">Click para anexar CV con Fotografía (PDF)</label>
        <input type="file" style="display: none;" name="archivosubido1M" id="newInputarchivosubido1M" accept="application/pdf"  >
                                         
    </div>
</fieldset>
