<form method="POST" class="contacto columnas-10 " action="/master_data"  id="newFormaDoctor" enctype="multipart/form-data" novalidate>

    <nav>
        <div class="nav nav-tabs tab" id="nav-tab" role="tablist">
        <button value="9" onclick="HideTabTipoForma(this)"><a class="nav-item nav-link active" id="NuevaEntradaDocP-tab" data-toggle="tab" href="#NuevaEntradaDocP" role="tab" aria-controls="NuevaEntradaDocP" aria-selected="true">Datos Generales</a></button>
        <button  value="10" onclick="HideTabTipoForma(this)"><a class="nav-item nav-link" id="NuevaEntradaDocA-tab" data-toggle="tab" href="#NuevaEntradaDocA" role="tab" aria-controls="NuevaEntradaDocA" aria-selected="false">Datos Académicos</a></button>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active tabcontent2" id="NuevaEntradaDocP" role="tabpanel" aria-labelledby="NuevaEntradaDocP-tab" style="display: block;">
            <%- include ('NuevaEntradaDocP') %>
        </div>
        <div class="tab-pane fade tabcontent2" id="NuevaEntradaDocA" role="tabpanel" aria-labelledby="NuevaEntradaDocA-tab" style="display: none;">
            <%- include ('NuevaEntradaDocA')%>
        </div>
        <div class="grid-dos-columnas">
            <button type="submit" value="Guardar" id="botonNewFormaDguardar" name="orden" onclick="validarNewFormaDoctorado(this)" class="boton boton-amarillo">Guardar</button>  
            <button type="submit" value="Enviar"  id="botonNewFormaDenviar" name="orden" onclick="validarNewFormaDoctorado(this)" class="boton boton-verde">Enviar</button>
        </div>   
    </div>            
    <legend>*datos obligatorios</legend>
</form> 
