<fieldset>
    <legend>DATOS PERSONALES</legend>

    <label for="nombre">NOMBRE(S)*</label>
    <!--<input type="text" id="nombre" placeholder="Nombre(s)">-->
    <input name="nombreM" id="InputNombre" type="text" class="form-control" placeholder="Nombre(s)*" autofocus required>
    <div class="grid-dos-columnas">
        <label for="InputAMaternoM">Apellido Paterno*</label>
        <label for="InputAPaternoM">Apellido Materno*</label>

        <input type="text" id="InputAMaternoM" name="apaternoM" placeholder="Apellido Paterno*" required>
        <input type="text" id="InputAPaternoM" name="amaternoM" placeholder="Apellido Materno*" required>

        <label for="InputFechaNacimientoM">FECHA DE NACIMIENTO*</label>
        <label for="InputLugarDeNacimientoM">LUGAR DE NACIMIENTO*</label> 
        <input type="date" id="InputFechaNacimientoM" name="fechaM" placeholder="Fecha*" required>
        <input type="text" id="InputLugarDeNacimientoM" name="lugarM" placeholder="Lugar*" required>

        <label for="InputNacionalidadM">NACIONALIDAD*</label>
        <label for="InputEstadoCivilM">ESTADO CIVIL*</label>
        <input type="text" id="InputNacionalidadM" name="nacionalidadM" placeholder="Nacionalidad*" required>
        <input type="text" id="InputEstadoCivilM" name="civilM" placeholder="Estado Civil*" required>

        <label for="InputCURPM">CURP*</label>
        <label for="InputDependenciasM">DEPENDENCIAS*</label>
        <input type="text" id="InputCURPM" name="curpM" oninput="validarInput(this)" placeholder="CURP*" required>
        <input type="number" id="InputDependenciasM" name="dependenciasM" placeholder="No. de dependencias*" min="0" required>
        <pre id="resultadoM" style="color: black;"></pre>
    </div>
</fieldset>
<fieldset>
    <legend>DATOS DE CONTACTO</legend>
    <div class="grid-dos-columnas">
        <label for="InputTelefonoM">TELÉFONO CELULAR*</label>
        <label for="InputCorreoM">E-mail*</label>
        <input type="tel" id="InputTelefonoM" name="telefonoM" placeholder="Número*" required>
        <input type="email" id="InputCorreoM" name="emailM" placeholder="Tu correo electrónico*" required>

        <label for="InputSkypeM">CUENTA SKYPE</label>
        <label for="InputFBM">Cuenta de FB (Link)</label>
        <input type="text" id="InputSkypeM" name="skypeM" placeholder="Skype*" required>
        <input type="text" id="InputFBM" name="fbM" placeholder="Link a tu Facebook*" required>
    </div>
</fieldset>
<fieldset>
    <legend>DOMICILIO</legend>
    <div class="domicilio-calle-num">
        <!--<label for="Calle">Calle</label>-->
        <input type="text" id="InputCalleM" name="CalleM" placeholder="Calle*" required>
        <!--<label for="NoExt">No. Ext</label>-->
        <input type="text" id="InputNoExtM" name="NoExtM" placeholder="NoExt*" required>
        <!--<label for="NoInt">No. Int</label>-->
        <input type="text" id="InputNoIntM" name="NoIntM" placeholder="NoInt" required>
    </div>
    <div class="grid-dos-columnas">
        <!--<label for="Colonia">Colonia</label>-->
        <input type="text" id="InputColoniaM" name="ColoniaM" placeholder="Colonia*" required>
        <!--<label for="Ciudad">Ciudad</label>-->
        <input type="text" id="InputCiudadM" name="CiudadM" placeholder="Ciudad*" required>
        <!--<label for="Estado">Estado</label>-->
        <input type="text" id="InputEstadoM" name="EstadoM" placeholder="Estado*" required>
        <!--<label for="CP">CP</label>-->
        <input type="text" id="InputCPM" name="CPM" placeholder="CP*" required>

    </div>
</fieldset>   