<fieldset>
    <legend>DATOS PERSONALES</legend>

    <label for="nombreD">NOMBRE(S)*</label>
    <!--<input type="text" id="nombre" placeholder="Nombre(s)">-->
    <input name="nombreD" id="InputNombreD" type="text" class="form-control" placeholder="Nombre(s)*" autofocus required>
    <div class="grid-dos-columnas">
        <label for="InputAMaternoD">Apellido Paterno*</label>
        <label for="InputAPaternoD">Apellido Materno*</label>

        <input type="text" id="InputAMaternoD" name="apaternoD" placeholder="Apellido Paterno*" required>
        <input type="text" id="InputAPaternoD" name="amaternoD" placeholder="Apellido Materno*" required>

        <label for="InputFechaNacimientoD">FECHA DE NACIMIENTO*</label>
        <label for="InputLugarDeNacimientoD">LUGAR DE NACIMIENTO*</label> 
        <input type="date" id="InputFechaNacimientoD" name="fechaD" placeholder="Fecha*" required>
        <input type="text" id="InputLugarDeNacimientoD" name="lugarD" placeholder="Lugar*" required>

        <label for="InputNacionalidadD">NACIONALIDAD*</label>
        <label for="InputEstadoCivilD">ESTADO CIVIL*</label>
        <input type="text" id="InputNacionalidadD" name="nacionalidadD" placeholder="Nacionalidad*" required>
        <input type="text" id="InputEstadoCivilD" name="civilD" placeholder="Estado Civil*" required>

        <label for="InputCURPD">CURP*</label>
        <label for="InputDependenciasD">DEPENDENCIAS*</label>
        <input type="text" id="InputCURPD" name="curpD" oninput="validarInputD(this)" placeholder="CURP*" required>
        <input type="number" id="InputDependenciasD" name="dependenciasD" placeholder="No. de dependencias*" min="0" required>
        <pre id="resultadoD" style="color: black;"></pre>
    </div>
</fieldset>
<fieldset>
    <legend>DATOS DE CONTACTO</legend>
    <div class="grid-dos-columnas">
        <label for="InputTelefonoD">TELÉFONO CELULAR*</label>
        <label for="InputCorreoD">E-mail*</label>
        <input type="tel" id="InputTelefonoD" name="telefonoD" placeholder="Número*" required>
        <input type="email" id="InputCorreoD" name="emailD" placeholder="Tu correo electrónico*" required>

        <label for="InputSkypeD">CUENTA SKYPE</label>
        <label for="InputFBD">Cuenta de FB (Link)</label>
        <input type="text" id="InputSkypeD" name="skypeD" placeholder="Skype*" required>
        <input type="text" id="InputFBD" name="fbD" placeholder="Link a tu Facebook*" required>
    </div>
</fieldset>
<fieldset>
    <legend>DOMICILIO</legend>
    <div class="domicilio-calle-num">
        <!--<label for="Calle">Calle</label>-->
        <input type="text" id="InputCalleD" name="CalleD" placeholder="Calle*" required>
        <!--<label for="NoExt">No. Ext</label>-->
        <input type="text" id="InputNoExtD" name="NoExtD" placeholder="NoExt*" required>
        <!--<label for="NoInt">No. Int</label>-->
        <input type="text" id="InputNoIntD" name="NoIntD" placeholder="NoInt" required>
    </div>
    <div class="grid-dos-columnas">
        <!--<label for="Colonia">Colonia</label>-->
        <input type="text" id="InputColoniaD" name="ColoniaD" placeholder="Colonia*" required>
        <!--<label for="Ciudad">Ciudad</label>-->
        <input type="text" id="InputCiudadD" name="CiudadD" placeholder="Ciudad*" required>
        <!--<label for="Estado">Estado</label>-->
        <input type="text" id="InputEstadoD" name="EstadoD" placeholder="Estado*" required>
        <!--<label for="CP">CP</label>-->
        <input type="text" id="InputCPD" name="CPD" placeholder="CP*" required>

    </div>
</fieldset>   