
    <div class="alinear-centro">
        <!-- <label for="tipoForma"></label> -->
        <label for="tipoFormaM">Maestria</label>                        
        <input type="radio" id="tipoFormaM" name="tipoFormaradio" value="1" onclick="handler(this)" checked="checked"></option>
        <label for="tipoFormaD">Doctorado</label>
        <input type="radio" id="tipoFormaD" name="tipoFormaradio" value="2" onclick="handler(this)"></option>
    </div>   

    <!-- FORMULARIO MAESTRIA -->
    <div class="grid centrar-columnas forma" id="formaMaestria" style="display: block;">
        <%- include('maestria') %>
    </div>
    <!-- FORMULARIO DOCTORADO -->   
    <div class="grid centrar-columnas forma" id="formaDoctorado" style="display: none;">
        <%- include('doctorado') %>       
    </div> 
