<form method="POST" class="contacto columnas-10" id="formaT" style="display: inline;">
    <div class="alinear-centro">
        <!-- <label for="tipoForma"></label> -->
       <input type="radio" name="academicoradio" value="1" onchange="cambiarForma(this)">Maestría</option>
       <input type="radio" name="academicoradio"value="2" onchange="cambiarForma(this)">Doctorado</option>
    </div>   
</form>


<!-- FORMULARIO MAESTRIA -->
<div class="grid centrar-columnas forma">
    <%- include('maestria') %>
</div>
<!-- FORMULARIO DOCTORADO -->   
<div class="grid centrar-columnas forma">
    <%- include('doctorado') %>       
</div> 