
    <div class="alinear-centro">
        <!-- <label for="tipoForma"></label> -->
        <label for="tipoFormaM">Maestria</label>                        
        <input type="radio" id="tipoFormaM" name="tipoFormaradio" value="1" onclick="cambiarForma(1)"></option>
        <label for="tipoFormaD">Doctorado</label>
        <input type="radio" id="tipoFormaD" name="tipoFormaradio" value="2" onclick="cambiarForma(2)"></option>
    </div>   

    <!-- FORMULARIO MAESTRIA -->
    <div class="grid centrar-columnas forma">
        <%- include('maestria') %>
    </div>
    <!-- FORMULARIO DOCTORADO -->   
    <div class="grid centrar-columnas forma">
        doctorado
        <%- include('doctorado') %>       
    </div> 
