<div class="VistaMiSolicitud contenedor" id="prev-mi-solicitud">

    <% preg.forEach(function(pre){ %>
    <div class="MiSolicitud" id="vista/">
        <ul class="ListaMiSolicitud">
            <li class="entrada-solicitud">
                <span>Tipo de Solicitud</span>
                <p name="tipoVista">Doctorado</p>
            </li>
            <li class="entrada-solicitud">
                <span>Nombre</span> 
                <p name="emailVista"> <%= pre.nombre %></p>
            </li>
            <li class="entrada-solicitud">
                <span>Estado de la solicitud</span>
                <p name="estadoSolicitud"> Pendiente</p>
            </li> 
            <li class="entrada-solicitud">
                <input type="button" value="Visualizar" onclick = "(visualizar(this))" class="boton boton-verde">   
            </li>
                   
        </ul>        
        
    </div>
    <% }) %> 
    
</div>
<div class="div-mi-solicitud" id="vista-mi-solicitud" style="display: none;">
    <%- include('VistaCompletaPersona') %> 
</div>