<div class="VistaMiSolicitud contenedor">
    <div class="MiSolicitud">
        <ul class="ListaMiSolicitud">
            <li class="entrada-solicitud">
                <span>Tipo de Solicitud</span>
                <p name="tipoVista">Doctorado</p>
            </li>
            <li class="entrada-solicitud">
                <span>E-mail</span> 
                <p name="emailVista">dsadas@fsdfds.com</p>
            </li>
            <li class="entrada-solicitud">
                <span>Estado de la solicitud</span>
                <p name="estadoSolicitud"> Pendiente</p>
            </li> 
            <li class="entrada-solicitud">
                <input type="button" value="Visualizar" class="boton boton-verde">   
            </li>
                   
        </ul>        
        
    </div>
</div>