<div class="VistaMiSolicitud contenedor">
    <% preg.forEach(function(pre){ %>
    <div class="MiSolicitud">
        <ul class="ListaMiSolicitud">
            <li class="entrada-solicitud">
                <span>Tipo de Solicitud</span>
                <p name="tipoVista">Doctorado</p>
            </li>
            <li class="entrada-solicitud">
                <span>Nombre</span> 
                <p name="emailVista"> <%= pre.nombre %></p>
            </li>
            <li class="entrada-solicitud">
                <span>Estado de la solicitud</span>
                <p name="estadoSolicitud"> Pendiente</p>
            </li> 
            <li class="entrada-solicitud">
                <input type="button" value="Visualizar" class="boton boton-verde">   
            </li>
                   
        </ul>        
        
    </div>
    <% }) %>
</div>