<!-- MENU -->
<div class="tipo-forma contenedor">
    <label for="tipoForma"></label>
    <select id="tipoForma" onchange="cambiarForma(this)">
    <option value="0">Seleccione forma</option>
    <option value="1">Maestría</option>
    <option value="2">Doctorado</option>
    </select>
</div>


<div class="VistaMiSolicitud contenedor" id="prev-solicitud-coordinador-maestria">

    <% master.forEach(function(pre){ %>
    <div class="MiSolicitud" id="vista/">
        <ul class="ListaMiSolicitud">
            <li class="entrada-solicitud">
                <span>Datos Maestria</span> 
            </li>
            <li class="entrada-solicitud">
                <span>Nombre</span> 
                <p name="emailVista"> <%= pre.InstitucionM %></p>
            </li>
            <li class="entrada-solicitud">
                <span>Estado de la solicitud</span>
                <p name="estadoSolicitud"> Pendiente</p>
            </li> 
            <li class="entrada-solicitud">
                <input type="button" value="Visualizar" onclick = "(visualizarM(this))" class="boton boton-verde">   
            </li>
            
                   
        </ul>        
        
    </div>
    <% }) %> 
</div>

<div class="div-mi-solicitud" id="vista-mi-solicitud-coordinador-maestria" style="display: none;">
    <%- include('VistaCompletaMaestria') %>  
</div>


<div class="VistaMiSolicitud contenedor" id="prev-solicitud-coordinador-doctorado">

    <% doc.forEach(function(pre){ %>
    <div class="MiSolicitud" id="vista/">
        <ul class="ListaMiSolicitud">
            <li class="entrada-solicitud">
                <span>Datos Doctorado</span> 
            </li>
            <li class="entrada-solicitud">
                <span>Nombre</span> 
                <p name="emailVista"> <%= pre.InstitucionD %></p>
            </li>
            <li class="entrada-solicitud">
                <span>Estado de la solicitud</span>
                <p name="estadoSolicitud"> Pendiente</p>
            </li> 
            <li class="entrada-solicitud">
                <input type="button" value="Visualizar" onclick = "(visualizarD(this))" class="boton boton-verde">   
            </li>
            
                   
        </ul>        
        
    </div>
    <% }) %> 
</div>

<div class="div-mi-solicitud" id="vista-mi-solicitud-coordinador-doctorado" style="display: none;">
    <%- include('VistaCompletaDoctorado') %>  
</div>