<!-- MENU -->
<div class="tipo-forma contenedor">
    <label for="tipoForma"></label>
    <select id="tipoForma" onchange="cambiarForma(this)">
    <option value="0">Seleccione forma</option>
    <option value="1">Maestría</option>
    <option value="2">Doctorado</option>
    </select>
</div>

<div class="Vistasolicitudes contenedor">
    <div class="Vistasolicitud">
        <ul class="listaSolicitudes">
            <li>
                <p class="tipoVista"><span>Tipo de Solicitud: </span>Doctorado / Maestria</p>
                <p class="nombreVista"><span>Nombre: </span> Roberto</p>
                <p class="apellidoVista"><span>Apellido: </span> Cazo</p>
                <p class="emailVista"><span>E-mail: </span> dsadas@fsdfds.com</p>
                <p class="estadoSolicitud"><span>Estado de la solicitud: </span> Pendiente</p>
                <input type="button" value="Visualizar" class="boton boton-verde"> 
            </li>
            <li>
                <p class="tipoVista"><span>Tipo de Solicitud: </span>Doctorado / Maestria</p>
                <p class="nombreVista"><span>Nombre: </span> Roberto</p>
                <p class="apellidoVista"><span>Apellido: </span> Cazo</p>
                <p class="emailVista"><span>E-mail: </span> dsadas@fsdfds.com</p>
                <p class="estadoSolicitud"><span>Estado de la solicitud: </span> Pendiente</p>
                <input type="button" value="Visualizar" class="boton boton-verde"> 
            </li>
            <li>
                <p class="tipoVista"><span>Tipo de Solicitud: </span>Doctorado / Maestria</p>
                <p class="nombreVista"><span>Nombre: </span> Roberto</p>
                <p class="apellidoVista"><span>Apellido: </span> Cazo</p>
                <p class="emailVista"><span>E-mail: </span> dsadas@fsdfds.com</p>
                <p class="estadoSolicitud"><span>Estado de la solicitud: </span> Pendiente</p>
                <input type="button" value="Visualizar" class="boton boton-verde"> 
            </li>
            
        </ul>        
    </div>
</div>