<form method="POST" class="columnas-10 " action="/Busqueda" id="Busqueda" enctype="multipart/form-data">
    <div class="VistaMiSolicitud contenedor" id="prev-mi-solicitud"></div>

        <div class=" VistaMiSolicitud div-prev-solicitud-curp">
            <p>Escribe tu CURP e indica forma</p>
            <input type="text" id="prevmisolicitudinputcurp" name="CURP" placeholder="Ej. MDHS996637...">
            <div class="grid-dos-columnas">
                <input type="submit" name="verSolicitud" value="BuscarM" onclick="TestButton(this)" class="boton boton-amarillo">
                <input type="button" name="verSolicitud" value="BuscarD" class="boton boton-verde" >
            </div>
            
        </div>
    </div>
</form>
